# IOT HW1 - partB (f)
b10615045

In [1]:
import os
import numpy as np
import pandas as pd

## 合併csv，並標記類別

In [31]:
# 到檔案資料夾內
try:
    os.chdir('./Data_Acc')
except:
    pass
print(os.getcwd())

# 合併csv
data = []
for root, dirs, files in os.walk('./'):
    print(root)
    print(dirs)
    print(files)
    for file in files:
        if(file != '.DS_Store'):
            temp = pd.read_csv(file, usecols = ['X','Y','Z'])
            if(file[0].upper() == 'R'):
                label = 0
            elif(file[0].upper() == 'W'):
                label = 1
            elif(file[0].upper() == 'S'):
                label = 2
            else:
                label = 3
            temp['label'] = label
            data.append(temp)
            
# print(data)
result = pd.concat(data, ignore_index = True)
result.to_csv('result.csv', sep='\t', encoding='utf-8')

/Users/shungfu/Desktop/IOT/Data_Acc
./
[]
['.DS_Store', 'Walk_Acc.csv', 'Study2_Acc.csv', 'Riding2_Acc.csv', 'Study1_Acc.csv', 'Riding1_Acc.csv']

In [32]:
result

              X         Y         Z  label
0      0.256187  2.966506  9.409500      1
1     -2.669617  4.477294  9.488511      1
2      1.357554 -0.193936  9.093455      1
3      0.095771  0.088588  9.893144      1
4      0.114925  0.088588  9.890749      1
...         ...       ...       ...    ...
28540 -0.052674  0.098165  9.921875      0
28541 -0.011971  0.088588  9.921875      0
28542 -0.052674  0.098165  9.941029      0
28543 -0.035914  0.105348  9.919480      0
28544 -0.033520  0.076617  9.902720      0

[28545 rows x 4 columns]

## Split test and train and shuffle

In [40]:
from sklearn.model_selection import train_test_split

data = result.iloc[:, :-1]
target = pd.DataFrame(result.iloc[:, -1])

data_train,data_test,target_train,target_test = train_test_split(data, target,test_size = 0.3)
print('Train Data Shape: ',data_train.shape, '\nTrain target Shape: ',target_train.shape)
print('Test Data Shape: ',data_test.shape, '\nTest target Shape: ',target_test.shape)

Train Data Shape:  (19981, 3)
Train target Shape:  (19981, 1)
Test Data Shape:  (8564, 3)
Test target Shape:  (8564, 1)

## Knn models

In [43]:
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier(n_neighbors = 5)
knn.fit(data_train, target_train.values.ravel())

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                     weights='uniform')

## Eval Model

In [46]:
print("Test Accurency:", knn.score(data_test, target_test))

Test Accurency: 0.9880896777206912

In [100]:
predict = data_test.iloc[:5]
pre= knn.predict(predict)

real = target_test.iloc[:5]
real = np.array(real).reshape(-1)

for i in range(0,5):
    print('Data: ', predict.iloc[i].values, 'Real: ', real[i],'Predict: ', pre[i], sep = '\n', end = '\n\n')

Data:
[ 0.08140534 -0.07422252  9.90272   ]
Real:
2
Predict:
2

Data:
[2.4637089 6.5746784 7.0080423]
Real:
0
Predict:
0

Data:
[2.8252442 4.625739  8.0375805]
Real:
2
Predict:
2

Data:
[-0.0670397   0.08619389  9.895537  ]
Real:
1
Predict:
1

Data:
[-0.0287313   0.43815228  9.888355  ]
Real:
1
Predict:
1